* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 75%);
}

nav > ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.grid {
    display: grid;
}

.grid-3-col {
    grid-template-columns: repeat(3, auto);
}

.grid-item {
    text-align: center;
    border: 1px solid black;
    width: fit-content;
    height: 30px;
    margin: 8px auto;
}